.min-h-50 {
    min-height: 500px;

}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

input:focus {
    outline: none;
    /* Remove the default outline on focus */
    border: none;
    /* Remove the border on focus */
}